.card{
  max-width: 800px;
  border: 1px solid #c0c0c0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 50px;
  margin: 30px auto 30px auto;
  &__image{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

