$search-color: #333;

.search{
  max-height: 50px;
  max-width: 500px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  &__input{
    background-color: $search-color;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
    padding: 10px;
  }
  &__button{
    background-color: $search-color;
    border: none;
    border-radius: 0 8px 8px 0;
    height: 50px;
    cursor: pointer;
    & img{
      max-width: 20px;
    }

  }
}

@media screen and (max-width: 380px) {
  .search{
    max-height: 40px;
    margin: 10px 0;
    &__input{
      padding: 8px;
    }
    &__button{
      height: 40px;
      & img{
        max-width: 15px;
      }

    }
  }
}
